@tailwind utilities;

@layer base {
  :root {
    --background: 48 83% 94%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --primary: 24 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45 98% 58%;
    --border: 0 0% 93%;
    --muted-foreground: 0 0% 33%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 96%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 96%;
    --primary: 33 100% 50%;
    --primary-foreground: 0 0% 12%;
    --secondary: 51 100% 50%;
    --border: 0 0% 20%;
    --muted-foreground: 0 0% 66%;
  }

  /* Tambahkan bagian ini */
  body {
    @apply bg-background text-foreground;
  }
}
